[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Florent Guichard (broodplank)
[access "refs/for/refs/*"]
	read = group user/Florent Guichard (broodplank)
	push = group user/Florent Guichard (broodplank)
	label-Code-Review = -2..+2 group user/Florent Guichard (broodplank)
	label-Verified = -1..+1 group user/Florent Guichard (broodplank)
	rebase = group user/Florent Guichard (broodplank)
	removeReviewer = group user/Florent Guichard (broodplank)
	submit = group user/Florent Guichard (broodplank)
[access "refs/heads/*"]
	read = group user/Florent Guichard (broodplank)
	create = group user/Florent Guichard (broodplank)
	push = +force group user/Florent Guichard (broodplank)
	pushMerge = group user/Florent Guichard (broodplank)
[access "refs/tags/*"]
	push = +force group user/Florent Guichard (broodplank)
	createTag = group user/Florent Guichard (broodplank)
	createSignedTag = group user/Florent Guichard (broodplank)
