[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/broodplank
[access "refs/for/refs/*"]
	read = group user/broodplank
	push = group user/broodplank
	label-Code-Review = -2..+2 group user/broodplank
	label-Verified = -1..+1 group user/broodplank
	rebase = group user/broodplank
	removeReviewer = group user/broodplank
	submit = group user/broodplank
[access "refs/heads/*"]
	read = group user/broodplank
	create = group user/broodplank
	push = +force group user/broodplank
	pushMerge = group user/broodplank
[access "refs/tags/*"]
	push = +force group user/broodplank
	pushTag = group user/broodplank
	pushSignedTag = group user/broodplank
